<div>
<div class="row text-center">
    <div class="col-md-3"><h4>Trips</h4></div>
    <div class="col-md-3"><h4>Finished Trips</h4></div>
    <div class="col-md-3"><h4>Users</h4></div>
    <div class="col-md-3"><h4>Drivers</h4></div>
</div>
<div class="row text-center" style="margin-bottom: 15px">
    <div class="col-md-3">{{stats.trips}}</div>
    <div class="col-md-3">{{stats.finishedTrips}}</div>
    <div class="col-md-3">{{stats.users}}</div>
    <div class="col-md-3">{{stats.drivers}}</div>
</div>
</div>